<div class="lobby-container">
    <div class="lobby-header">
        <h2 class="lobby-title">Uno Lobby</h2>
        <script src="/js/lobby.js" defer></script>   <!-- defer means 'don't execute this script until the lobby page is loaded' -->
    </div>
    
    <hr class="lobby-divider">

    <div class="lobby-body">
        <p class="lobby-text">Logged in as: <strong><%= user.email %></strong></p>
        
        <div class="avatar-section">
            <img src="<%= user.gravatar_url %>" alt="User Avatar" class="user-avatar" 
                 onerror="this.src='https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y'">
        </div>
        
        <p class="lobby-welcome">Create or join an Uno game.</p>
    </div>
    
    <section>
        <h3>Uno Games</h3>
        <button id="create-game">Create Uno Game</button>
        <template id="game-template">
            <div class="game-card">
                <span class="game-id"></span>
                <span class="creator"></span>
                <span class="players"></span>
                <span class="status"></span>
                <button class="join-game" type="button">Join Uno Game</button>
            </div>
        </template>
        <div id="games-list">
            <p>Loading...</p>
        </div>
    </section>
</div>
